:root {
    --clr-beige: #faecd6;
    --clr-lightgreen: #73ca64;
    --clr-lighter1green: #b6f5ab;
    --clr-lighter2green: #c3f5ba;
    --clr-darkgreen: #3caa71;
    --clr-orange: #ff7900;
    --clr-yellow: #ffbe00;
    --clr-black: #3B3836;
    --fnt-jakarta: 'Plus Jakarta Sans', sans-serif;
    --fnt-poppins: 'Poppins', sans-serif;

    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--clr-orange) 33.33% 50%, transparent 66.66% 75%);
    --gradient-circle: linear-gradient(97deg, rgba(115, 202, 100, 1) 0%, rgba(255, 190, 0, 1) 100%);
}


.manutenzione {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: var(--clr-beige);
    display: grid;
    place-content: center;
    justify-items: center;
    overflow: hidden;
}

.manutenzione h1 {
    background-image: var(--loading-text-gradient);
    background-size: 500%;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1em;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    letter-spacing: 7px;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.2px var(--clr-orange);
    animation: loadingText linear 6s infinite;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    text-align: center;
    z-index: 9;
}

@keyframes loadingText {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

.separator {
    border: 1px solid var(--clr-darkgreen);
    width: 70%;
    height: 1%;
}

.manutenzione h3 {
    color: var(--clr-darkgreen);
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    z-index: 9;
}

.manutenzione p {
    color: var(--clr-lightgreen);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    z-index: 9;
    font-weight: 500;
}

.circle1 {
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-image: var(--gradient-circle);
    top: -5rem;
    left: -5rem;
    z-index: 0;
    opacity: 0.5;
}

.circle2 {
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-image: var(--gradient-circle);
    top: 2rem;
    left: 10rem;
    z-index: 0;
    opacity: 0.5
}

.circle3 {
    position: absolute;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background-image: var(--gradient-circle);
    bottom: -5rem;
    right: -5rem;
    z-index: 0;
    opacity: 0.5;
}

.circle4 {
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-image: var(--gradient-circle);
    bottom: 10rem;
    left: 5rem;
    z-index: 0;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .manutenzione h1 {
        font-size: 2.5rem;
        padding-left: 1rem;
    }

    .manutenzione h3 {
        font-size: 1.3rem;
    }

    .manutenzione p {
        font-size: 1.1rem;
    }
}

@media (max-width: 390px) {
    .manutenzione h1 {
        font-size: 2rem;
        padding-left: 0.5rem;
    }

    .manutenzione h3 {
        font-size: 1.3rem;
        padding-left: 0.5rem;
    }

    .manutenzione p {
        font-size: 1.1rem;
    }
}
@media (max-width: 375px) {
    .manutenzione h1 {
        font-size: 1.5rem;
        padding-left: 0.5rem;
    }

    .manutenzione h3 {
        font-size: 1rem;
    }

    .manutenzione p {
        font-size: 0.8rem;
    }
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--fnt-jakarta);
}

section {
    padding: 50px 10%;
}

*::selection {
    color: var(--clr-beige);
    background: var(--clr-darkgreen);
}

img {
    width: 100%;
}